@model LEORE.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>

<p><b>Price:</b> @Model.Price</p>
<p><b>Category:</b> @Model.Category.Name</p>
<p><p><b>Image:</b></p>
<img src="@Model.Image" alt="@Model.Name" width="300" /></p>
<p><b>Description:</b> @Model.Description</p>
<p><b>Color:</b> @Model.Color</p>
<p><b>Size:</b> @Model.Size</p>

<form asp-action="AddToCart" method="post">
    <input type="hidden" name="ProductID" value="@Model.ProductID" />

    <label>Quantity:</label>
    <input type="number" name="Quantity" value="1" min="1" max="100" />

    <button type="submit">Add To Cart</button>
</form>

<!-- Reviews Section -->
<h3>Reviews</h3>

@if (Model.ProductReviews.Any())
{
    foreach (var review in Model.ProductReviews)
    {
        <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
            <b>@review.User.FirstName @review.User.lastName</b> - Rating: @review.Rating
            <p>@review.Comment</p>
        </div>
    }
}
else
{
    <p>No reviews yet.</p>
}

<a asp-action="Index">Back to Products</a>

@* <h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
